<a href="https://colab.research.google.com/github/IIAnirudhII/BU/blob/master/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_excel("https://github.com/IIAnirudhII/BU/blob/master/Deep%20Learning/Lab2/data/Online%20Retail.xlsx?raw=true")

In [21]:
subset=df.iloc[:, : 4]
subset=subset[subset["InvoiceNo"]==536544]
(subset)

     InvoiceNo StockCode                      Description  Quantity
1443    536544     21773  DECORATIVE ROSE BATHROOM BOTTLE         1
1444    536544     21774  DECORATIVE CATS BATHROOM BOTTLE         2
1445    536544     21786               POLKADOT RAIN HAT          4
1446    536544     21787            RAIN PONCHO RETROSPOT         2
1447    536544     21790               VINTAGE SNAP CARDS         9
...        ...       ...                              ...       ...
1965    536544     21721        CANDY SHOP  STICKER SHEET         1
1966    536544     21722      SWEET PUDDING STICKER SHEET         1
1967    536544     21731    RED TOADSTOOL LED NIGHT LIGHT         5
1968    536544     21742      LARGE ROUND WICKER PLATTER          1
1969    536544     21758             VINTAGE SHELLS PRINT         1

[527 rows x 4 columns]

In [6]:
print("Minimum")
print(df.UnitPrice.min())

Minimum
-11062.06

In [7]:
print("Maximum")
print(df.UnitPrice.max())

Maximum
38970.0

In [8]:
print("Median")
print(df.UnitPrice.median())

Median
2.08

In [9]:
print("Mean")
print(df.UnitPrice.mean())

Mean
4.611113626083471

In [10]:
print("Count")
print(df.UnitPrice.count())

Count
541909

In [11]:
print("Sum")
print(df.UnitPrice.sum())

Sum
2498803.974

In [12]:
print("Standard Deviation")
print(df.UnitPrice.std())

Standard Deviation
96.75985306119716

In [13]:
print("Variance")
print(df.UnitPrice.var())

Variance
9362.469164424467

In [26]:
new_df=df[100:]
new_df.reset_index(inplace=True)

In [25]:
new_df.sort_values(["InvoiceDate"])

         index InvoiceNo StockCode  ... UnitPrice  CustomerID         Country
0          100    536378    84519A  ...      2.95     14688.0  United Kingdom
1          101    536378    85183B  ...      1.25     14688.0  United Kingdom
2          102    536378    85071B  ...      0.38     14688.0  United Kingdom
3          103    536378     21931  ...      1.95     14688.0  United Kingdom
4          104    536378     21929  ...      1.95     14688.0  United Kingdom
...        ...       ...       ...  ...       ...         ...             ...
541796  541896    581587     22555  ...      1.65     12680.0          France
541795  541895    581587     22556  ...      1.65     12680.0          France
541807  541907    581587     23255  ...      4.15     12680.0          France
541800  541900    581587     22730  ...      3.75     12680.0          France
541808  541908    581587     22138  ...      4.95     12680.0          France

[541809 rows x 9 columns]

In [38]:
Description=pd.Series(df["Description"])

In [40]:
Description=Description.str.startswith('D')

In [43]:
new_df[Description.values]

ValueError: ignored