<a href="https://colab.research.google.com/github/IIAnirudhII/BU/blob/master/Deep%20Learning/Lab2/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [21]:
df=pd.read_excel("https://github.com/IIAnirudhII/BU/blob/master/Deep%20Learning/Lab2/data/Online%20Retail.xlsx?raw=true")
df=df.dropna()

In [ ]:
subset=df.iloc[:, : 4]
subset=subset[subset["InvoiceNo"]==536544]
(subset)

     InvoiceNo StockCode                      Description  Quantity
1443    536544     21773  DECORATIVE ROSE BATHROOM BOTTLE         1
1444    536544     21774  DECORATIVE CATS BATHROOM BOTTLE         2
1445    536544     21786               POLKADOT RAIN HAT          4
1446    536544     21787            RAIN PONCHO RETROSPOT         2
1447    536544     21790               VINTAGE SNAP CARDS         9
...        ...       ...                              ...       ...
1965    536544     21721        CANDY SHOP  STICKER SHEET         1
1966    536544     21722      SWEET PUDDING STICKER SHEET         1
1967    536544     21731    RED TOADSTOOL LED NIGHT LIGHT         5
1968    536544     21742      LARGE ROUND WICKER PLATTER          1
1969    536544     21758             VINTAGE SHELLS PRINT         1

[527 rows x 4 columns]

In [ ]:
print("Minimum")
print(df.UnitPrice.min())

Minimum
-11062.06

In [ ]:
print("Maximum")
print(df.UnitPrice.max())

Maximum
38970.0

In [ ]:
print("Median")
print(df.UnitPrice.median())

Median
2.08

In [ ]:
print("Mean")
print(df.UnitPrice.mean())

Mean
4.611113626083471

In [ ]:
print("Count")
print(df.UnitPrice.count())

Count
541909

In [ ]:
print("Sum")
print(df.UnitPrice.sum())

Sum
2498803.974

In [ ]:
print("Standard Deviation")
print(df.UnitPrice.std())

Standard Deviation
96.75985306119716

In [ ]:
print("Variance")
print(df.UnitPrice.var())

Variance
9362.469164424467

In [28]:
new_df=df[100:]
new_df.reset_index(inplace=True)

In [33]:
new_df=new_df.sort_values(["InvoiceDate"])

In [34]:
Description=pd.Series(new_df["Description"])

In [35]:
Description=Description.str.startswith('D')

In [38]:
new_df[Description.values]

         index InvoiceNo StockCode  ... UnitPrice  CustomerID         Country
40         140    536381     21523  ...      6.75     15311.0  United Kingdom
41         141   C536379         D  ...     27.50     14527.0  United Kingdom
85         185    536388     21523  ...      7.95     16250.0  United Kingdom
128        228    536390     22654  ...      4.95     17511.0  United Kingdom
119        219    536390     20668  ...      0.10     17511.0  United Kingdom
...        ...       ...       ...  ...       ...         ...             ...
406473  541653    581538     23033  ...      1.45     14446.0  United Kingdom
406471  541651    581538     23034  ...      1.45     14446.0  United Kingdom
406547  541727    581570     23077  ...      1.25     12662.0         Germany
406553  541733    581571     48187  ...      8.25     15311.0  United Kingdom
406713  541893    581586     20685  ...      7.08     13113.0  United Kingdom

[14535 rows x 9 columns]